<h1 class="title"><b>政策</b></h1>
<div class="layout">
  <img class="policy" src="assets/images/residents-card.jpg" />
  <div>
    <h1><b>役所手続きのデジタル化</b></h1>
    <br />
    <br />
    <h5>
      「この書類は印鑑が必要です」「このシステムは午前9:00から午後5:00までの運用です」
      <br />
      このような行政の非効率は、もうやめにしましょう
      <br />
      印章制度やシステムの非効率は、国民の皆様のご負担を増やすだけです
      <br />
      <br />
      我々先進党の政策ならば、上記の問題を全て解決可能です
      <br />
      eKYC(電子署名)を用いた本人確認を導入し、
      <br />
      皆様が役所に出向くことなくあらゆる手続きを可能にします
      <br />
      <br />
      我々は役所手続きにおける業務をデジタル化し、
      <br />
      市民の作業待ち時間の削減や役所担当者の業務効率化を目指します。
      <br />
      障害・福祉の手続きや婚姻届等、24時間家から受け付けることができるようにします。
    </h5>
  </div>
</div>
