<app-section>
  <div class="job">
    <h1 class="message"><b>党員募集</b></h1>
    <div class="cards">
      <mat-card class="card">
        <mat-card-content>
          <h3>入党資格</h3>
          <h4 class="caution">
            ※入党資格の審査に際し、記載事項に不備があった場合は、受け付けられません。
          </h4>
          <h4 class="caution">
            ※党員には党員証をお送りさせて頂きます。
          </h4>
          <ul>
            <li>我が党の綱領、主義、政策に賛同される方。</li>
            <li>満18歳以上で、日本国籍を有する方。</li>
            <li>他の政党の党籍を持たない方。</li>
          </ul>
          <h4>党費</h4>
          <ul>
            <li>Firebaseを使えること</li>
            <li>Angularを使えること</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <br />
    <div>
      <button mat-flat-button routerLink="../contact">
        <h3 class="recruit">入党希望はこちら</h3>
      </button>
    </div>
  </div>
</app-section>
