<h1 class="title"><b>政策</b></h1>
<div class="layout">
  <img class="education" src="assets/images/education.jpg" />
  <div>
    <h1><b>IT人材の育成推進</b></h1>
    <br />
    <br />
    <h5>
      IT政策を推し進めるにあたり、今後ますます人材不足が深刻化していきます。
      <br />
      AIやブロックチェーンなど技術も多岐に渡り進化も早く、
      <br />
      IoTによりあらゆるデバイスにITが関わるようになります。
      <br />
      <br />
      そこで我々は、今後必要になっていくと思われる
      <br />
      ITスキルを高める施策を官民共同で実施していきます。
      <br />
      義務教育や高等教育機関でもアルゴリズムの学習を強化させます。
    </h5>
  </div>
</div>
