<mat-drawer-container>
  <mat-drawer #drawer class="mat-elevation-z16" (click)="drawer.toggle()">
  </mat-drawer>
  <mat-drawer-content class="mat-typography" id="mat-drawer-content">
    <mat-toolbar class="mat-elevation-z4 toolbar">
      <mat-toolbar-row class="container">
        <button mat-icon-button [routerLink]="'/'">
          <!-- <img class="icon" src="assets/images/lcnem.svg" /> -->
        </button>
        <h1 class="title">先進党</h1>
        <span class="fill-remaining-space"></span>
        <a class="title" mat-button [routerLink]="''">
          <span>ホーム画面へ</span>
        </a>
        <!-- <a class="title" mat-button [routerLink]="'/about'">
          <span>沿革</span>
        </a>
        <a
          class="title"
          mat-button
          [routerLink]="'/services'"
          fragment="services"
        >
          <span>政策情報</span>
        </a>-->
        <a class="title" mat-button [routerLink]="'/news'">
          <span>活動レポート</span>
        </a>
        <a class="title" mat-button [routerLink]="'/recruit'">
          <span>党員募集</span>
        </a>
        <a class="title" mat-button [routerLink]="'/contact'">
          <span>お問い合わせ</span>
        </a>
        <a class="title" mat-button [routerLink]="'/introduction'">
          <span>党に関して</span>
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
