<app-section>
  <span id="about"></span>
  <h1 class="title"><b>先進党とは</b></h1>
  <br />
  <div class="layout">
    <img class="logo" mat-card-image src="assets/images/woman.jpg" />
    <div>
      <h2 class="message"><b>先進党は、日本唯一のIT特化政党です</b></h2>
      <h3 class="message">
        <b>我々は先進技術により、日本を安全で豊かにします</b>
      </h3>
      <br />
      <br />
      <br />
      <h2 class="message"><b>先進党</b></h2>
      <ul>
        <li class="message"><b>先進技術で日本を豊かに</b></li>
        <li class="message"><b>誰でも分かりやすい、使いやすいシステム</b></li>
        <li class="message"><b>安全で不正のない仕組み</b></li>
      </ul>
    </div>
  </div>
</app-section>
