<h1 class="title"><b>政策</b></h1>
<div class="layout">
  <img class="remote" src="assets/images/remote-working.jpg" />
  <div>
    <h1><b>リモートワークの推進</b></h1>
    <br />
    <br />
    <h5>
      現状、子供の世話に手がかかったり、交通の弁が良くないなどの理由から、
      <br />
      仕事に従事できない方が数多くがいらっしゃいます。
      <br />
      それに加え、伝染病の蔓延などで満員電車の問題も表面化しています。
      <br />
      <br />
      我々はリモートワークを推進します。
      <br />
      <br />
      自宅でも社会に貢献できるイメージを具体化し、
      <br />
      リモートワークを推奨していきます。
      <br />
      社会的立場を認められるよう仕事の拡充を促し、
      <br />
      地方活性化とも繋がる労働環境の増強を図ります。
    </h5>
  </div>
</div>
