<app-section>
  <h1 id="service" class="message"><b>政策情報</b></h1>
  <br />
  <!-- <div class="layout">
    <img class="main" mat-card-image src="assets/images/LCNEM_Service.jpg" />
  </div> -->
  <br />
  <div class="layout">
    <div>
      <div class="title">
        <img
          class="policies"
          mat-card-image
          src="assets/images/residents-card.jpg"
        />
        <h2 class="comment">
          <a routerLink="digital-government">
            役所手続きのデジタル化
          </a>
        </h2>
      </div>
    </div>
    <div>
      <div class="title">
        <img class="policies" mat-card-image src="assets/images/voting.jpg" />
        <h2 class="comment">
          <a routerLink="voting">選挙のデジタル化</a>
        </h2>
      </div>
    </div>
    <div>
      <div class="title">
        <img
          class="policies"
          mat-card-image
          src="assets/images/remote-working.jpg"
        />
        <h2 class="comment">
          <a routerLink="remote-working">
            リモートワークの推進
          </a>
        </h2>
      </div>
    </div>
    <div>
      <div class="title">
        <img
          class="policies"
          mat-card-image
          src="assets/images/education.jpg"
        />
        <h2 class="comment">
          <a routerLink="education">
            IT人材の育成推進
          </a>
        </h2>
      </div>
    </div>
  </div>
</app-section>
